In [1]:
import pandas as pd
import numpy as np

In [2]:
file1 = "HOP_data.csv"

In [3]:
purchase_df = pd.read_csv(file1)

In [4]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
purchase_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [6]:
# Player Count
user_count = len(purchase_df["SN"].unique())
player_count = pd.DataFrame({'Total Players': user_count}, index=[0])
player_count

   Total Players
0            576

In [7]:
# Purchasing Analysis (Total)
unique_items = len(purchase_df['Item ID'].unique())
average_price = purchase_df['Price'].mean()
purchase_count = purchase_df['Purchase ID'].count()
total_price = purchase_df['Price'].sum()

purchase_summary = pd.DataFrame({'Number of Unique Items': unique_items, 
                                 'Average Purchase Price': average_price,
                                'Total Number of Purchases': purchase_count, 
                                 'Total Revenue': total_price}, index=[0], columns=['Number of Unique Items', 
                                                                                        'Average Purchase Price', 
                                                                                        'Total Number of Purchases', 
                                                                                        'Total Revenue'])

purchase_summary = purchase_summary.style.format({'Average Purchase Price': '${:,.2f}', 'Total Revenue': '${:,.2f}'})
purchase_summary

In [8]:
# Gender Demographics
gender = pd.DataFrame(purchase_df.groupby('Gender').SN.nunique())
gender = gender.rename(index=str, columns={'SN': 'Player Count'})
gender['Percentage of Players'] = gender['Player Count'] / sum(gender['Player Count'])*100
gender = gender.style.format({'Percentage of Players': '{:.2f}%'})
gender

In [9]:
# Purchasing Analysis (Gender)
gender_stats = pd.DataFrame(purchase_df.groupby('Gender').agg({'Purchase ID':'count', 'Price': {'Total Purchase Value':'sum', 'Average Purchase Price':'mean'}}))
gender_stats.columns = gender_stats.columns.get_level_values(1) 
gender_stats = gender_stats.rename(index=str, columns={'count': 'Purchase Count'})
gender_stats['Normalized Totals'] = gender_stats['Total Purchase Value']/gender_stats['Purchase Count']
gender_stats = gender_stats[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals']]
gender_stats = gender_stats.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}', 'Normalized Totals':'${:.2f}'})
gender_stats

C:\Users\richv\Anaconda3\lib\site-packages\pandas\core\groupby\groupby.py:4656: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

In [10]:
# Age Demographics
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_df['Age'] = pd.cut(purchase_df['Age'], age_bins, labels=group_names)
age_demo = pd.DataFrame(purchase_df.groupby('Age').SN.nunique())
age_demo = age_demo.rename(index=str, columns={'SN': 'Player Count'})
age_demo['Percentage of Players'] = age_demo['Player Count'] / sum(age_demo['Player Count'])*100
age_demo = age_demo.style.format({'Percentage of Players': '{:.2f}%'})
age_demo

In [11]:
# Purchasing Analysis (Age)
age_stats = pd.DataFrame(purchase_df.groupby('Age').agg({'Purchase ID':'count', 'Price': {'Total Purchase Value':'sum', 'Average Purchase Price':'mean'}}))
age_stats.columns = age_stats.columns.get_level_values(1) 
age_stats = age_stats.rename(index=str, columns={'count': 'Purchase Count'})
age_stats['Normalized Totals'] = age_stats['Total Purchase Value']/age_stats['Purchase Count']
age_stats = age_stats[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals']]
age_stats = age_stats.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}', 'Normalized Totals':'${:.2f}'})
age_stats

In [12]:
# Top Spenders
spender = pd.DataFrame(purchase_df.groupby('SN').agg({'Purchase ID':'count', 'Price': {'Total Purchase Value':'sum', 'Average Purchase Price':'mean'}}))
spender.columns = spender.columns.get_level_values(1) 
spender = spender.rename(index=str, columns={'count': 'Purchase Count'})
spender = spender.sort_values(by='Total Purchase Value', ascending=False)
spender = spender[0:5]
spender = spender.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}'})
spender

In [13]:
# Most Popular Items
item_data = purchase_df[['Item ID', 'Item Name', 'Price']]
top_purchases = pd.DataFrame(item_data.groupby(['Item ID', 'Item Name']).agg({'Price':['count', 'sum']}))
top_purchases.columns = top_purchases.columns.get_level_values(1)
top_purchases['Item Price'] = top_purchases['sum']/top_purchases['count']
top_purchases = top_purchases[['count', 'Item Price', 'sum']]
top_purchases = top_purchases.rename(index=str, columns={'count': 'Purchase Count', 'sum': 'Total Purchase Value'})
top_purchases = top_purchases.sort_values(by='Purchase Count', ascending=False)
top_5_purchases = top_purchases[0:5]
top_5_purchases = top_5_purchases.style.format({'Total Purchase Value': '${:.2f}', 'Item Price': '${:.2f}'})
top_5_purchases

In [14]:
# Most Profitable Items
top_purchases = top_purchases.sort_values(by='Total Purchase Value', ascending=False)
top_5_volume = top_purchases[0:5]
top_5_volume = top_5_volume.style.format({'Total Purchase Value': '${:.2f}', 'Item Price': '${:.2f}'})
top_5_volume